.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

    .item {
        width: 30%;
        margin-bottom: 20px;
        color: #f51515;
    }

}
